@font-face {
    font-family: 'OptimusPrincepsSemiBold';
    src: url('../../Fonts/subset-OptimusPrincepsSemiBold.woff2') format('woff2'),
         url('../../Fonts/subset-OptimusPrincepsSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OptimusPrinceps';
    src: url('../../Fonts/subset-OptimusPrinceps.woff2') format('woff2'),
         url('../../Fonts/subset-OptimusPrinceps.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.LandingContainer {
    display: flex;
    flex-direction: row; /* Place WelcomeMSG and Navigation side by side */
    height: 100vh;
    width: 100vw;
}

.NavigationList{
    border-left: solid;
    border-color: black;
}
.WelcomeMSG {
    background-color: rgb(198, 227, 255);
    flex: 1; 
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    padding-right: 1vw;
    gap: 0.3rem;
}

.Greeting{
    font-family: 'OptimusPrincepsSemiBold', Verdana, Geneva, Tahoma, sans-serif;
}

.NavigationBlock {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: -5px; 
}

.NavigationBlock ul{
    list-style: none;
    background-color: white;
    text-align: left;
    margin: 0;
    padding: 15px;
    margin-top: 50px;
    
}

.NavigationBlock a{
    text-decoration: none;
    display: inline-block;
    color: black;
    border-color: black;
    font-family: 'OptimusPrincepsSemiBold', Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5px;
    font-size: 25px;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 125px;
    margin-bottom: -5px;
}