@font-face {
    font-family: 'OptimusPrincepsSemiBold';
    src: url('../../Fonts/subset-OptimusPrincepsSemiBold.woff2') format('woff2'),
         url('../../Fonts/subset-OptimusPrincepsSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OptimusPrinceps';
    src: url('../../Fonts/subset-OptimusPrinceps.woff2') format('woff2'),
         url('../../Fonts/subset-OptimusPrinceps.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BenderRegular';
    font-style: normal;
    font-weight: normal;
    src: url('../../Fonts/Jovanny\ Lemonad\ -\ Bender.woff') format('woff');
    }

@font-face {
    font-family: 'BenderLight';
    font-style: normal;
    font-weight: normal;
    src: url('../../Fonts/Jovanny\ Lemonad\ -\ Bender-Light.woff') format('woff');
    }

@font-face {
    font-family: 'BenderBold';
    font-style: normal;
    font-weight: normal;
    src: url('../../Fonts/Jovanny\ Lemonad\ -\ Bender-Bold.woff') format('woff');
    }
  
.circleWrap{
  background-image: url('../../Elements/Darksign_29.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 700px;
  position: relative;
  width: var(--size);
  height: var(--size);
  margin: 5vh auto 0;
  background-color: black;
  border-radius: 100%;
}
.quadrantContainer {
  width: var(--size);
  height: var(--size);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "q0 q1"
    "q2 q3";
  gap: var(--gap);
  transform-origin: center center;
}
  
  
.quadrantPanel {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(153, 166, 174);
  
}
  
  
.panelTOP { 
  grid-area: q0; 
  border-top-left-radius: var(--size);
  /*border-bottom-right-radius: 5%;*/
  
}
.panelRIGHT { 
  grid-area: q1; 
  border-top-right-radius: var(--size); 
  /*border-bottom-left-radius: 5%;*/
}
.panelLEFT { 
  grid-area: q2; 
  border-bottom-left-radius: var(--size); 
  /*border-top-right-radius: 5%;*/
}
.panelBOTTOM { 
  grid-area: q3; 
  border-bottom-right-radius: var(--size); 
  /*border-top-left-radius: 5%;*/
}
  
  
  
.panelContent {
  font-family: 'OptimusPrincepsSemiBold', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  pointer-events: none;
  transform: rotate(-45deg);
}
  
  
.panelImg {
  display: block;
  margin: 0.5rem auto 0;
  max-width: 80%;
  height: auto;
}
  
  
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  
}
  
  
.modal {
  background: rgb(225, 224, 222);
  padding: 24px;
  border-radius: 16px;
  min-width: 150px;
  max-width: 40vw;
  cursor: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalHeader{
  font-family: 'OptimusPrincepsSemiBold', Verdana, Geneva, Tahoma, sans-serif;
}

.modalParagraph{
  font-family: 'BenderRegular', 'Times New Roman', Times, serif;
  font-size: 105%;

}

.modalLink{
  font-family: 'BenderBold', 'Times New Roman', Times, serif; 
}
.modalImage{
  object-fit: center;
}

.WaterWizardImageStyle{
  height: 40vh;
  width: 30vh;
}
.HideoutHelperImageStyle{
  height: 30vh;
  width: 60vh;
}
.TiltTerrainImageStyle{
  height: 40vh;
  width: 30vh;
}
.PlatePlanStyle{
  height: 40vh;
  width: 30vh;
}
.modalButton{
  font-family: 'OptimusPrinceps', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  border-radius: 5%;
  border-bottom: solid, 1px, rgb(208, 100, 64);
  padding: 1%;
}
  