.circleWrap{
  position: relative;
  width: var(--size);
  height: var(--size);
  margin: 5vh auto 0;
}
.quadrantContainer {
  width: var(--size);
  height: var(--size);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "q0 q1"
    "q2 q3";
  gap: var(--gap);
  transform: rotate(45deg);
  transform-origin: center center;
}
  
  
.quadrantPanel {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  
.panelTL { grid-area: q0; border-top-left-radius: var(--size); }
.panelTR { grid-area: q1; border-top-right-radius: var(--size); }
.panelBL { grid-area: q2; border-bottom-left-radius: var(--size); }
.panelBR { grid-area: q3; border-bottom-right-radius: var(--size); }
  
  
  
.panelContent {
  text-align: center;
  pointer-events: none;
  transform: rotate(-45deg);
}
  
  
.panelImg {
  display: block;
  margin: 0.5rem auto 0;
  max-width: 80%;
  height: auto;
}
  
  
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
  
  
.modal {
  background: white;
  padding: 24px;
  border-radius: 16px;
  min-width: 200px;
  max-width: 80vw;
  cursor: auto;
}
  