.aboutPageProfile {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1.5rem 2rem;
  background-color: rgb(6, 5, 1);
  border: 2px solid rgb(254, 199, 111);    
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  color: #e0e0e0;
  font-family: 'OptimusPrinceps',Georgia, 'Times New Roman', Times, serif; 
}

.profileHeader {
  display: flex;
  align-items: center;
  border-bottom: solid 1px rgb(254, 199, 111, 0.3);
  margin-bottom: 1rem;
  padding-left: 5px;
}

.profileIcon {
  width: 48px;
  height: 48px;
  margin-right: 0.75rem;
}

.profileTitle {
  font-size: 1.6rem;
  font-family: 'OptimusPrincepsSemiBold', serif;
  color: rgb(254, 199, 111);
  margin: 0;
}

.profileContent {
  padding-left: 7vh;
}

.profileParagraph {
  white-space: pre-line;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: inline;                      
  font-size: 1rem;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  margin: 1rem 0;                    
  line-height: 1.8;
  padding-left: 0vh;                    
}
